<!-- 
<section id="googlead" class="googlead">
  <div id="googlead"> -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- github -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-4784160492252285"
         data-ad-slot="6568520857"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<!-- </div>
</section> -->
